body{
  
background-image: url(https://i.imgur.com/P1uy6u3.jpg);
background-size: cover;
background-position: bottom;
background-attachment: fixed;

}

.score{
display: flex;
justify-content: center;
 color: #FF69B4;

}

.title{
 text-align: center;
 font-size: xx-large;
 color: #FF69B4	;
 font-family:  'Laser84';
 font-weight: 100;



}
.Question{
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
color: #0bd3d3;
font-family: ;

}


.allbuttons{
  left: 0;
  line-height: 400px;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  
    }

    .answerButton{
      padding: 0;
      margin: 10px;
      height: 30px;
      outline: none;
      border-radius: 3px;
      background: transparent ;
      border: 2px solid #0bd3d3;
      font-size: 12px;
      transition: 0.5s;
      color:  #FF69B4;

      
    }

.start{
  text-align: center;
 

}

footer{
  display: flex;
  
 
  
}

#fullreset{
  display: flex;
  align-content: flex-start;
  color: #0bd3d3;
}

p {
  display: flex;

  color: #FF69B4;

}

@font-face{
  font-family:  'Laser84';
  src: url(/font/Lazer84.ttf);
  font-style: normal;
  font-weight: 100 ;
}

